
    {% extends 'base_without_nav.html.twig' %}

    {% block title %}Participants{% endblock %}

    {% block body %}
        <div class="container">
            <h1>Participants du trajet</h1>
            {% if participants is empty %}
                <p>Aucun participant pour ce trajet</p>
            {% else %}
                <ul>
                    {% for participant in participants %}
                        <li>{{ participant.nom }} {{ participant.prenom }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    {% endblock %}