{{ form_start(form) }}
    {{ form_widget(form) }}
    </br>
    <button class= "btn btn-info" style="background-color:blue;">{{ button_label|default('Enregistrer') }}</button>
   {{ form_end(form) }}
