{% extends 'base.html.twig' %}

{% block title %}Edit Trajets{% endblock %}

{% block body %}
    <h1>Edit Trajets</h1>

    {{ include('trajets/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_trajets_index') }}">back to list</a>

    {{ include('trajets/_delete_form.html.twig') }}
{% endblock %}
