{% extends 'base.html.twig' %}

{% block title %}Modification de votre trajet{% endblock %}

{% block body %}
     <div class = "container-fluid">
        <div class="row justify-content-center">
            </hr>
            <div class="col-md-3"> <!-- Volets de navigation -->
                {% include 'partials/_sidebar.html.twig' %}
            </div>
             <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
<div class="example-wrapper">
                    <h1>Modification de votre trajet</h1>
                    <hr/>
                    {{ include('trajets/_form.html.twig', {'button_label': 'Modifier'}) }}
                    {{ include('trajets/_delete_form.html.twig') }}

                    <a href="{{ path('app_trajets_index') }}" class="btn btn-secondary my-3">Retourner à vos trajets</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
