{% extends 'base.html.twig' %}

{% block title %}Rechercher un trajet{% endblock %}

{% block body %}

    <!-- bootstrap-->
    <style> 
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <!-- contenu de la page -->
    <div class = "example-wrapper">
    <form action="#" method="GET">
    <label for="ville">Ville de départ</label>
    <input type="text" id="ville" name="ville">
    <label for="date">Date de départ</label>
    <input type="date" id="date" name="date">
    <button type="submit">Rechercher</button>
    </form>

    </div>

{% endblock %}